.clients {	
	padding: 60px 0;
	@include media(1200px){
		padding-top: 94px;
			padding-bottom: 94px;
	}
}

.clients__title {
	font-weight: 700;
	font-size: 28px;
		line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;

	
	padding-bottom: 30px;

	@include media(1200px){
		font-size: 36px;
		line-height: 1.5;

		padding-bottom: 50px;
	}
}

.client__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	
	gap: 30px;
}


.client__item {
	// width: 210px;	
	// height: 92px;
	
		@include calc(2);
	
	// width: calc((100% - 2 * 30px) / 1);
	@include media(768px){
		@include calc(3);
	}

	@include media(1200px){
		@include calc(6);
		
	}
	// &:not(:last-child) {
	// 		margin-right: 30px;
	// 	}
}

.client__link {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100%;

	border: 1px solid #afb1b8;
	border-radius: 4px;

	transition-property: background-color;
	transition-duration: 250ms;

	@include media(1200px){
		min-height: 92px;
	}

&:hover,
&:focus {
	border: 1px solid $accentColor;
	transition: $timingFunction;
}

&:hover .client__icon,
&:focus .client__icon {
	fill: $accentColor;
	transition: $timingFunction;
}
}

.client__icon {
	fill: #afb1b8;
}