.feature {
	// padding-top: 94px;
	padding: 60px 0;
	@include media(1200px){
		padding-top: 94px;
		padding-bottom: 94px;
	}
}

.feature__list {
	display: flex;
	flex-wrap: wrap;
	// list-style: none;
	// padding: 0;
	gap: 30px;
}

.feature__item{
	// width: calc((100% - 90px) / 4);
	@include calc(1);

	@include media(768px){
		@include calc(2);
	}

	@include media(1200px){
		@include calc(4);
	}
}

.feature-box {
	display: flex;
	justify-content: center;
	align-items: center;
	

	// width: 450px;
	height: 120px;
	margin: 0;

	background-color: #f5f4fa;
	border-radius: 4px;
}

.feature__icon {
	width: 70px;
	height: 70px;
}



.feature__title {
	padding-top: 30px;
	margin-bottom: 10px;

	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	
	text-transform: uppercase;
	@include media (768px){
		text-align: center;
	}
}

.feature__text {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;

	color: $primaryColor;
}