.filter {
	// padding-top: 94px;
	// padding-bottom: 94px;
	padding-top: 60px;
		padding-bottom: 60px;

		@include media (1200px) {
				padding-top: 94px;
					padding-bottom: 94px;
			}
}

.filter .list {
	display: flex;
	flex-wrap:wrap;
	gap: 8px;
	margin-bottom: 46px;

	@include media(768px) {
		margin-bottom: 30px;
		justify-content: center;
	}

	@include  media(1200px) {
		justify-content: center;
		margin-bottom: 50px;
	}	
	
}

.filter .list .items:nth-child(3) {
	margin-right: 30px;
	@include media(768px){
		margin: 0;
	}
}

.filter .list .item {
	padding: 6px 22px;
	border: none;

	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	letter-spacing: 0.03em;

	background: #f5f4fa;
	border-radius: 4px;

	transition-property: background-color;
	transition-duration: 250ms;	
}
//  .filter .list .items:not(:last-child) {
// 	margin-right: 8px;
// }

.list .item.current {
	border: none;
	padding: 6px 25px;

	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
		0px 2px 2px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
	background-color: $accentColor;
	color: #ffffff;
}

.list .item:hover,
.list .item:focus {
	background-color: $accentColor;
	color: $primariBgColor;
	transition: $timingFunction;
}