.form-order {
	width: 448px;
}

.form-order__text {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;
	text-align: center;
	letter-spacing: 0.03em;

	padding-bottom: 12px;

	color: $titleColor;
}