.gallery-list {
	display: flex;
	flex-wrap: wrap;
}

.gallery-list .item {
	min-width: 370px;
	margin-bottom: 30px;
	margin-right: 30px;

	background: #ffffff;
	&:hover {
			box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
				1px 4px 6px rgba(0, 0, 0, 0.16);
			transition: $timingFunction;
		}
	
		&:nth-child(3n) {
			margin-right: 0px;
		}
	
		&:nth-last-child(-n + 3) {
			margin-bottom: 0px;
		}
}

.card-text {
	width: 370px;
	padding: 20px 24px;

	border: 1px solid #eeeeee;
	border-top: none;
}

.card-text .title {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;

	color: $titleColor;
}

.card-text .text {
	margin-top: 4px;

	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.03em;

	color: $primaryColor;
}

.overlay-text {
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 63px 24px;

	font-weight: 400;
	font-size: 18px;
	line-height: 1.5;
	letter-spacing: 0.03em;

	color: #ffffff;
}

.overlay-box {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(33, 150, 243, 0.9);

	transform: translateY(101%);
	transition: transform $timingFunction;
	.gallery-list .link:hover &,
		.gallery-list .link:focus & {
			transform: translateY(0%);
			transition: $timingFunction;
		}
}

.gallery-list-box {
	position: relative;
	overflow: hidden;
}