.hero {
  text-align: center;
  padding: 118px 0; 
  width: 100%; 

  @include media(1200px){
    padding: 200px 0;
  }

  .hero__title {
    padding:  0;
    margin-bottom: 30px; 
      
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    // text-align: center;
    text-transform: uppercase;
    color: $primariBgColor;

    @include media (1200px){
      font-size: 44px;
      line-height: 1.36;
    }
  }

  .hero__btn {
    // min-width: 216px;
    padding: 10px 24px;
 
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;

    color: $primariBgColor;
    border-color: $accentColor;
    background-color: $defaultColor;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    transition: background-color $timingFunction;

    @include media(1200px){          
          padding: 10px 32px;
    }

	&:hover,
		&:focus {
			background-color: $accentColor;
			transition: $timingFunction;
		}
	
		&:active {
			background-color: $primariBgColor;
			color: $defaultColor;
			transition: $timingFunction;
		}
  }

}
