.join {
  // margin-right: 93px;
  margin:60px 0;
  @include media (768px){
    margin: 0;
  }
  @include media(1200px){

  }
}

.join__title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;

  color: $primariBgColor;

  @include media (1200px){
    display: flex;
  }
}

.join__list {
  // width: 206px;
  // height: 44px; 
  list-style: none;
  display: flex;

  padding: 0;
  gap: 10px;
}

.join__item{
 
}

// .join__item:not(:last-child) {
//   margin-right: 10px;
// }

.join__link {
  width: 44px;
  height: 44px;

  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  display: flex;
  align-items: center;
  justify-content: center;
  color: $primariBgColor;

  transition-property: background-color;
  transition-duration: 250ms;

  &:hover,
  &:focus {
    background-color: $accentColor;
  }
}

.join__icon {
  fill: currentColor;
}
