.logo {
	margin-right: 93px;
	
	padding-top: 16px;
	padding-bottom: 16px;

	font-family: "Raleway", sans-serif;
	@include font(700,24,28,0.03);
	text-decoration: none;

	color:$accentColor;

	@include media(1200px){
		padding-top: 25px;
			padding-bottom: 25px;
			@include font(null,26,31,0.03)
	}
}
		.logo__span {
			color: #000000;
		}
.logo__span--invers{	
	color: $primariBgColor;
}
