.page-header{
	display: flex;
	align-items: center;

@include media(468px){
.menu-open-btn{
	display: block;
		margin-left: auto;
		background-color: transparent;
	border: none;
	background-color:white;
}

} 
.container-mob{
	width: 100%;
	padding: 10px 15px;
	margin: 0 auto;
}
.mob-menu {
	position:fixed;
	top: 0;
	right: 0;
	background-color: $primariBgColor;
	width: 100vw;
	height: 100vh;
	z-index: 1;
	> .container-mob{
		// height: 100%;
		display: flex;
			flex-direction: column;
			justify-content: space-between;
			overflow: auto;
	}
	// padding-top: 10px;
	// padding-bottom: 10px;
}

.menu-cross-btn {
	display: block;
	margin-left: auto;
	background-color:transparent;
	border: none;	
	// padding: 10px 15px;

	&:hover .mob__icon-cross,
		&:focus .mob__icon-cross {
			fill: $accentColor;
			transition: $timingFunction;
		}
}

.mob-menu__list {
	margin-bottom: 302px;
	padding-left: 25px;
}

.mob-menu__item:not(:last-child) {
	margin-bottom: 32px;
}

.mob-menu__link {	
		font-size: 40px;
		line-height: 1.17;		
		letter-spacing: 0.02em;
		color: $titleColor;
		transition: $timingFunction;

		&:hover,
		&:focus{
			color: $accentColor;
		}
}
.mob-menu__link--smoll{
	font-size: 24px;
	line-height: 1.16;
	letter-spacing: 0.02em;
	color: $primaryColor;	
}
.mob-contact{
	padding-left: 25px;
}

.mob-soc {
	display: flex;
	justify-content: start;
	padding-top: 64px;	
	padding-left: 25px;	

}

.mob-soc__item {
	&:not(:last-child) {
			padding-right: 10px;
			border-right: 1px solid rgba(33, 33, 33, 0.2);
		}
		&:not(:first-child){
			padding-left: 10px;
		}
}

.mob-soc__link {
	position: relative;
	font-size: 18px;
	line-height: 1.22;		
	
	letter-spacing: 0.02em;
	color: $accentColor;
	transition: $timingFunction;
}
// 	&:not(:last-child)::after {
// 	content: "";
// 	position: absolute;
// 	display: block;
// 	top: 0;
// 	right: 0;
// 	height: 100%;
// 	background-size: cover;
// 	border: 1px solid rgba(33, 33, 33, 0.2);
// 	transform: rotate(180deg);
// 	margin-right:-10px;
// }
}