h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
	margin-bottom: 0;
}

a {
	text-decoration: none;
	color: currentColor;
}

ul,
ol {
	margin: 0;
	padding-left: 0;
	list-style: none;
}

button {
	cursor: pointer;
	border-color: var(--accent-color);
}

body {
	font-family: 'Roboto', sans-serif;
	font-style: normal;

	color: var(--title-text-color);
}

address {
	font-style: normal;
}