@mixin font($fw:500, $fs:42, $lh:32, $ls:0.02) {
	font-weight: $fw;
	font-size:$fs+px;
	line-height: ($lh / $fs);		
	letter-spacing: $ls+em;
}

@mixin media($size){
	@media screen and (min-width:$size){
		@content;
	}
}

@mixin calc ($count){
	width:calc((100% - 30px * ($count - 1 )) / $count);
}

@mixin retina {
	@media (min-device-pixel-ratio: 2),
		(min-resolution: 192dpi),
		(min-resolution: 2dppx){
			@content;
		}
}